* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.container {
  height: 100vh;
  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}
body {
  font-family: 'Poppins', sans-serif;
}
.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}
nav {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: right;
}
nav ul {
  display: inline-block;
  list-style-type: none;
}
nav ul li {
  display: inline-block;
  margin-right: 20px;
  border-radius: 50%;
  padding: 5px 5px;
}
a {
  text-decoration: none;
  color: #555;
}
p {
  color: #555;
}
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.col-2 {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  min-width: 300px;
  margin-left: 40px;
}
.col-2 img {
  max-width: 100%;
  padding: 50px 0;
  width: 300px;
  height: 250px;
}
.col-2 h1 {
  font-size: 50px;
  line-height: 60px;
  margin: 25px 0;
}
.col-2 .offer-img {
  padding: 50px;
}
.btn {
  display: inline-block;
  background: #ff523b;
  color: white;
  padding: 8px 30px;
  margin: 30px 0;
  border-radius: 30px;
  -webkit-transition: background 0.5s;
  transition: background 0.5s;
}
.btn:hover {
  background: #563434;
}
.header {
  background: radial-gradient(#fff, #ffd6d6);
  background-image: url('../images/bgimage.jpg');
}
.header .row {
  margin-top: 120px;
}
/*featured*/
.featured{
  margin-top: 30px;
  background: radial-gradient(#fff, #d5c1c1);
}
.featured h2{
  font-weight: bold;
  text-align: center;
}
.categories {
  margin: 40px 0;
  background: radial-gradient(#fff, #d5c1c1);
}
.col-3 {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  min-width: 250px;
  margin-bottom: 30px;
}
.col-3 img {
  width: 100%;
}
.col-3 p {
  font-size: 12px;
  margin: 12px 0;
  color: #777;
}
.small-container {
  max-width: 1080px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 20px;
}
.small-container img{
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}
.small-container img:hover{
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}
.col-4 {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  padding: 10px;
  min-width: 200px;
  margin-bottom: 50px;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}
.col-4 img {
  width: 100%;
}
.col-4 p {
  font-size: 14px;
}
.col-4:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}
.title {
  text-align: center;
  margin: 0 auto 80px;
  position: relative;
  line-height: 60px;
  color: #555;
}
.title::after {
  content: '';
  background: #ff523b;
  width: 80px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
h4 {
  color: #555;
  font-weight: normal;
}
.rating .fa {
  color: #ff523b;
}
.offer {
  background: radial-gradient(#fff, #ffd6d6);
  margin-top: 80px;
  padding: 30px 0;
}
small {
  color: #555;
}
.testimonial {
  margin-top: 50px;
}
.testimonial .col-3 {
  text-align: center;
  padding: 40px 20px;
  -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}
.testimonial .col-3 img {
  width: 100px;
  margin-top: 20px;
  border-radius: 50%;
  height: 100px;
}
.testimonial .col-3:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}
.testimonial .col-3 h3 {
  font-weight: 600;
  color: #555;
  font-size: 16px;
}
.fa.fa-quote-left {
  font-size: 34px;
  color: #ff523b;
}
.partners h2{
    text-align: center;
    background: radial-gradient(#fff, #d5c1c1);
    padding-top: 10px;
    padding-bottom: 10px;
}
.testimonial-title{
  margin-top: 20px;
}
.testimonial-title h2{
  text-align: center;
  background: radial-gradient(#fff, #d5c1c1);
  padding: 5px 5px;
}
/*partners*/
.brands {
  margin: 100px auto;
}
.col-5 {
  width: 160px;
}
.col-5 img {
  width: 100%;
  cursor: pointer;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}
.col-5 img:hover {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}
/*footer*/
.footer {
  background: black;
  color: #8a8a8a;
  font-size: 14px;
  padding: 60px 0 20px;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.footer .container {
  width: 100%;
  height: 300px;
}
.footer p {
  color: #8a8a8a;
}
.footer h3 {
  color: #fff;
  margin-bottom: 20px;
}
.footer hr {
  border: none;
  background: #b5b5b5;
  height: 1px;
  margin: 20px 0;
}
.footer-col-1 {
  min-width: 250px;
  margin-bottom: 20px;
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}
.footer-col-2 {
  min-width: 250px;
  margin-bottom: 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
}
.footer-col-2 img {
  width: 100px;
  margin-bottom: 20px;
}
.footer-col-3 {
  min-width: 250px;
  margin-bottom: 20px;
  -ms-flex-preferred-size: 12%;
      flex-basis: 12%;
  text-align: center;
  display: inline-block;
}
.footer-col-4 {
  min-width: 250px;
  margin-bottom: 20px;
  -ms-flex-preferred-size: 12%;
      flex-basis: 12%;
  text-align: center;
}
.footer .row ul li{
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}
.footer .row ul li:hover{
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
  color: White;
}
ul {
  list-style-type: none;
}
.app-logo {
  margin-top: 20px;
}
.app-logo img {
  width: 40px;
}
.copyright {
  text-align: center;
}
.menu-icon {
  width: px;
  margin-left: 20px;
  display: none;
}
@media only screen and (max-width: 800px) {
  nav ul {
    position: absolute;
    top: 70px;
    left: 0;
    background: #333;
    width: 100%;
    overflow: hidden;
    -webkit-transition: max-height 0.5s;
    transition: max-height 0.5s;
  }
  nav ul li {
    display: block;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  nav ul li a {
    color: white;
  }
  .menu-icon {
    display: block;
    cursor: pointer;
  }
}
@media only screen and (max-width: 600px) {
  .row {
    text-align: center;
  }
  .col-2 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .col-3 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .col-4 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .single-product .row {
    text-align: left;
  }
  .single-product .col-2 {
    padding: 20px 0;
  }
  .single-product h1 {
    font-size: 26px;
    line-height: 32px;
  }
  .cart-info p {
    display: none;
  }
}
@media only screen and (max-width: 1130px) {
  .footer {
    height: 500px;
  }
}
@media only screen and (max-width: 815px) {
  .footer {
    height: 600px;
  }
}
@media only screen and (max-width: 555px) {
  .footer {
    height: 850px;
  }
}
/*# sourceMappingURL=homepage.css.map */